body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: antiquewhite;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.heading-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container {
  display: flex;
  justify-content: center;
}

.content-div {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-col {
  height: 500px;
  width: 100%;
  margin: 2rem 2rem;
  background-color: rgb(65, 129, 129);
  padding: 2rem;
  border-radius: 5px;
}

.col-container {
  display: flex;
  flex-direction: column;
  color: white;
}
